<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/pages/authentication.css"/>
</head>


{% block body%}

	{{form_start(form)}}

	<body class="bg-primary">
		<div id="layoutAuthentication_content">

			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4">Créer un compte</h3>
								</div>
								<div class="card-body">
									<form>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group mb-3">
													{{form_row(form.username, {'label' :'Nom d\'utilisateur','attr' : {'placeholder':'nom d\'utilisateur....'}})}}
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											{{form_row(form.email, {'label' :'Adresse mail','attr' : {'placeholder':'adresse mail....'}})}}
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group mb-3">
													{{form_row(form.password, {'label' :'Mot de passe','attr' : {'placeholder':'Entrer votre mot de passe'}})}}

												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group mb-3">
													{{form_row(form.confirm_password, {'label' :'Confirmation du mot de passe','attr' : {'placeholder':'Répéter votre mot de passe'}})}}

												</div>
											</div>
										</div>
										<div class="form-group mt-2">
											<button type="submit" class="btn btn-success">Inscription</button>
										</div>
									</form>
								</div>
								<div class="card-footer text-center">
									<div class="small">
										<a href="{{ path ('security_login')}}">J'ai déja un compte? Se connecter</a>

										{{form_end(form)}}


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>


{% endblock %}
