{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	<section class="articles">

		{% for article in articles %}

			<articles>

				<div class="w-50 p-3">


					<div class="card mb-4">
						<h3 class="card-header">{{ article.title }}</h3>

						<div class="card-body">
							<div class="metadata">
								Ecrit le
								<strong>{{ article.createdAt | date('d/m/y') }}</strong>
								à
								<strong>{{ article.createdAt | date ('H:i') }}</strong>
								dans la catégorie
								<strong>{{article.category.title}}</strong>
							</strong>
						</div>


					</div>
					<img src="{{ article.image }}" alt="">


					<div class="card-body ">

						{{ article.content | length > 50 ? article.content|slice(0, 50) ~ '...' : article.content  }}
					</div>


					<a href="{{path('blog_show', {'id': article.id})}}" class="btn btn-primary">Lire la suite</a>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">Par Admin</li>


					</ul>

				</div>


			</div>
		</articles>


	{% endfor %}


</section>{% endblock %}
