{% extends 'base.html.twig' %}

{% block body %}


	<article>
		<h2>{{ article.title }}</h2>

		<div class="metadata">
			Ecrit le
			<strong>{{ article.createdAt | date('d/m/y') }}</strong>
			à
			<strong>{{ article.createdAt | date ('H:i') }}</strong>
			dans la catégorie
			<strong>{{article.category.title}}</strong>
		</strong>
	</div>
	<div class="content">
		<img src="{{ article.image }}" alt="">
	</div>
	<br>
	<div class="content">
		{{ article.content | raw }}
	</div>
	<br>
	{% if not app.user %}

		{% elseif app.user %}

			<a href="{{path('blog_edit', {'id': article.id})}}" class="btn btn-info">Modifier l'article</a>
	{% endif %}


	<article>
	{% endblock %}
