<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		{% endblock %}


		<body>

			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path ('home')}}">Symblog</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">

								<a class="nav-link" href="{{ path ('blog')}}">Articles</a>

								<span class="visually-hidden">(current)</span>
							</li>
						</a>
					</li>
					<li class="nav-item">
						{% if not app.user %}

							{% elseif app.user %}
								<a class="nav-link" href="{{ path ('blog_create')}}">Créer articles</a>

						{% endif %}


					</li>
				</li>
			</ul>


			<ul class="navbar-nav ms-auto ms-md-0">
				{% if not app.user %}
					<a class="dropdown-item" href="{{ path ('security_login')}}">Connexion</a>
					<a class="dropdown-item" href="{{ path ('security_registration')}}">Inscription</a>
				{% else %}
					<a class="dropdown-item" href="{{ path ('security_logout')}}">Déconnexion</a>
				{% endif %}
			</ul>
		</body>
	</head>
</html></li></li></body></head></html></div></body></head></html> </li></body></head></html></ul></body></head></html></div></body></head></html></div></nav>{% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}{% endblock %}</body></head>{% block body %}{% endblock %}</html></body></html>
